.app-logo {
    height: 24px;
}

.header-toolbar {
    min-height: 55px;
    max-height: 55px;
    background-color: #fff;
    box-shadow:
        0 0 4px rgba(36, 35, 45, .3);
}

.header-toolbar mat-toolbar-row {
    padding-left: 5px;
}

.header-menu-btn {
    margin-right: 5px;
}

.example-spacer {
    flex: 1 1 auto;
}