<mat-toolbar class="header-toolbar">
    <mat-toolbar-row>
        <button class="header-menu-btn" mat-icon-button (click)="toggleSideNav()">
            <mat-icon class="material-icons-round">menu</mat-icon>
        </button>

        <img class="app-logo" src="assets/svg/trimble_forestry.svg">

        <span class="example-spacer"></span>

        <button mat-icon-button class="header-icon" aria-label="Apps">
            <mat-icon>apps</mat-icon>
        </button>

        <button mat-icon-button class="header-icon" aria-label="Support">
            <mat-icon>info</mat-icon>
        </button>
        
        <button mat-icon-button class="header-icon" aria-label="Logout">
            <mat-icon>logout</mat-icon>
        </button>

    </mat-toolbar-row>
</mat-toolbar>