

.module-card {
    width: 450px;
    height: 250px;
    word-wrap: break-word;
    border-top: 5px solid #0063a3;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.card-content, .card-title-container{
    padding: 15px;
}

.card-title {
    background-color: transparent;
    color: #004f83!important;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.card-footer {
    border-top: 1px solid var(--pf-border-color);
    padding: 5px;
    padding: 15px;
}