.shadow {
    box-shadow: 0 0 4px rgba(36,35,45,.3)!important;
}

.module-container {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
}

.module-heading {
    font-size: 25px !important;
    font-weight: 600 !important;
}