<div class="footer-comp-links">
    <a href="http://www.trimble.com/copyrights.aspx" target="_blank" rel="noreferrer" class="footer-link">© Copyright
        2023, Trimble Inc</a>
    <a href="https://www.trimble.com/en/legal/terms-and-conditions/terms-of-use" target="_blank" rel="noreferrer"
        class="footer-link">Terms of Use</a>
    <a href="https://www.trimble.com/Corporate/Privacy.aspx" target="_blank" rel="noreferrer"
        class="footer-link">Privacy Statement</a>
    <a href="https://www.trimble.com/Corporate/Privacy.aspx?tab=contact_us" target="_blank" rel="noreferrer"
        class="footer-link">Do Not Sell My Personal Information</a>
</div>