<div class="module-container">

    <h1 class="module-heading">Dashboard</h1>
    <div class="module-card shadow">
        <div class="card-title-container">
            <h3 class="card-title">
                Welcome to your Dashboard!
            </h3>
        </div>
        <div class="card-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet enim laoreet arcu venenatis suscipit. Donec aliquam sapien sit amet nunc sagittis posuere. Morbi rhoncus nunc suscipit mi condimentum iaculis. In commodo in elit porta auctor. Sed dictum sit amet augue id semper.
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" style="float:right">Get Started!</button>
        </div>
    </div>

</div>